RewriteEngine On
RewriteBase /blogWeb
RewriteRule ^post/([0-9]+)$ post.php?postid=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_URI} !.php$
RewriteRule ^(.*)$ $1.php [L]